*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--token-color-primary);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
