@layer field {
  .field {
    --layout-stack-gap: 0.25rem;
  }

  .field.error .hint {
    color: var(--token-color-error-2);
  }

  .hint {
    min-height: 0.75rem;
    line-height: 0.75rem;
    color: var(--token-color-neutral-5);
    font-size: 0.75rem;
  }
}
