@layer input {
  .input {
    padding: 0.5rem;
    border-radius: var(--token-border-radius-small);
    border: 1px solid var(--token-color-neutral-2);
    background-color: var(--token-color-neutral-0);
    color: var(--token-color-text-primary);

    &:not(:disabled):hover {
      outline: 1px solid var(--token-color-primary-1);
    }

    &:focus {
      outline: none;
      border: 1px solid var(--token-color-primary-1);
    }

    &::placeholder {
      color: var(--token-color-text-placeholder);
    }

    &:disabled {
      background-color: var(--token-color-neutral-1);
      color: var(--token-color-text-placeholder);
    }
  }

  .input.error {
    border: 1px solid var(--token-color-error-2);

    &:hover,
    &:focus {
      outline: 1px solid var(--token-color-error-2);
    }
  }
}
