@layer button {
  .button {
    padding: 0.5rem 1rem;
    border-radius: var(--token-border-radius-small);
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    color: var(--token-color-neutral-5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:focus,
    &:hover {
      outline: none;
      transform: scale(1.05);
    }
  }

  .button.primary {
    background-color: var(--token-color-primary-1);
    color: var(--token-color-neutral-0);

    &:hover {
      background-color: var(--token-color-primary-2);
    }

    &:disabled {
      background-color: var(--token-color-neutral-2);
      cursor: not-allowed;
    }
  }

  .button.secondary {
    background-color: transparent;
    color: var(--token-color-primary-1);
    border: solid 1px var(--token-color-primary-1);

    &:hover {
      background-color: var(--token-color-neutral-0);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .button.danger {
    background-color: var(--token-color-error-2);
    color: var(--token-color-neutral-0);

    &:hover {
      background-color: var(--token-color-error-3);
    }

    &:disabled {
      background-color: var(--token-color-neutral-2);
      cursor: not-allowed;
    }
  }
}
