@layer checkbox {
  .checkbox {
    display: block;
    height: 1rem;
    padding-left: 1.5rem;
    position: relative;
    cursor: pointer;
    user-select: none;

    & input {
      position: absolute;
      cursor: pointer;
      opacity: 0;
      height: 0;
      width: 0;
    }

    & .icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 1rem;
      width: 1rem;
      background-color: var(--token-color-neutral-1);
      border-radius: var(--token-border-radius-small);
    }

    &:hover input:disabled ~ .icon {
      cursor: not-allowed;
    }

    &:hover input:not(:disabled) ~ .icon {
      background-color: var(--token-color-neutral-2);
      transform: scale(1.05);
    }

    &:hover input:checked:not(:disabled) ~ .icon {
      background-color: var(--token-color-primary-2);
    }

    & input:focus:not(:disabled) ~ .icon {
      transform: scale(1.05);
    }

    & input:focus:not(:disabled:checked) ~ .icon {
      background-color: var(--token-color-neutral-2);
    }

    & input:focus:checked:not(:disabled) ~ .icon {
      background-color: var(--token-color-primary-2);
    }

    & input:checked ~ .icon {
      background-color: var(--token-color-primary-1);
    }

    & input:checked:disabled ~ .icon {
      background-color: var(--token-color-neutral-2);
    }

    & input:checked:disabled ~ .icon:after {
      left: 5px;
      top: 2px;
      width: 7px;
      height: 10px;
      border: solid var(--token-color-neutral-0);
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }

    & .icon:after {
      content: '';
      position: absolute;
      display: none;
    }

    & input:checked ~ .icon:after {
      display: block;
    }

    & .icon:after {
      left: 5px;
      top: 1px;
      width: 6px;
      height: 11px;
      border: solid var(--token-color-neutral-0);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
